@media (max-width:769px) {
    .login-wrapper {
        .login-box-container {

            .image_box {
                display: none;
            }

            .form_box {
                justify-content: flex-start;
                gap: 20px;
                .my-logo-container {
                    img {
                        width: 80%;
                        margin-left: -13px;
                    }
                }
                #login_form{
                    input{
                        width: 100%;
                        font-size: 100%;
                    }
                    button{
                        font-size: 100%;
                    }
                }
                #alert-message .alert{
                    width: 100%;
                }
            }
        }

    }
}