* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html,
body {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* my global colors */

.grey {
    color: #8a8a8a;
}

.bg-grey {
    background-color: #8a8a8a;
}


/* **************************** Login page css start ********************************************* */


.login-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 30px;




    .login-box-container {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
        gap: 30px;

        .image_box {
            border-radius: 50px 0px 0px 50px;
            background-image: url("../images/login-image.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .form_box {
            border-radius: 0px 50px 50px 0px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;

            /* align-items: center; */
            /* padding: 10px 200px; */
            .my-logo-container {
                img {
                    width: 60%;
                    margin-left: -4px;
                }
            }

            #login_form {
                display: flex;
                gap: 30px;
                flex-direction: column;

                input {
                    border: none;
                    outline: none;
                    border-bottom: 0.5px solid black;
                    width: 70%;
                    font-size: 140%;
                }

                #emailErr,
                #passwordErr {
                    display: none;
                    color: red;
                    margin: 0px;
                }

                button {
                    width: 80px;
                    background-color: #1e95d2;
                    color: white;
                    border: none;
                    padding: 7px 5px;
                    font-weight: 400;
                    font-size: 130%;
                }
            }

            #alert-message .alert {
                width: 70%;
            }
        }


    }






}



/* **************************** Login page css end ********************************************* */




/* **************************** Layout page css Start ********************************************* */

.layout-wrapper {

    width: 100%;
    height: 100vh;
    position: relative;

    .navigation-wrapper {

        height: 50px;
        position: relative;
        border-bottom: 0.5px solid #8a8a8a;

        .nav {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            position: relative;

            .logo img {
                width: 170px;
            }
            .profile{
                display: flex;
                gap: 10px;
                align-items: center;
                p{
                    margin: 0px;
                }
            }
            .profile img {
                width: 25px;
            }
        }

    }

    .sidebar-and-content-wrapper {

        display: flex;
        height: calc(100vh - 50px);
        position: relative;

        .sidebar-wrapper {
            height: 100%;
            flex: 1.7;
            padding: 20px;
            background-color: #ffff;
            position: relative;
            border-right: 0.5px solid #8a8a8a;

            .sidebar {
                height: 100%;
                position: relative;
                position: relative;

                .sidebar-button-container {
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    .sidebar-cont {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                    }
                    .sidebar-logout-btn{
                        margin-right: auto;
                        margin-top: auto;
                    }

                    .sidebar-btn {
                        border: none;
                        outline: none;
                        display: flex;
                        gap: 10px;
                        padding: 8px 15px;
                        border-radius: 10px;
                        font-weight: 500;
                        align-items: center;
                        background-color: white;
                        text-decoration: none;
                    }

                    .sidebar-btn:hover {
                        background-color: #f1f1f1;
                        color: black;
                    }

                    .click {
                        background-color: #f1f1f1;
                        color: black;
                    }

                }

            }

        }

        .content-wrapper {
            position: relative;
            flex: 8.3;
            padding: 20px;
            min-height: calc(100vh - 50px);
            overflow-y: auto;
        }
    }




}


/* **************************** Layout page css end ********************************************* */



/* **************************** User master page css start ********************************************* */

.user-master-all-users {

    padding: 20px 0px;
    position: relative;

    .live-search-inputs {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        border-radius: 7px;
        padding: 30px 15px;
        display: flex;
        justify-content: space-around;
        gap: 30px;
        align-items: end;
    }

    .all-users-data-table {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        margin-top: 20px;
        padding: 30px 15px;
        border-radius: 7px;
        position: relative;


        .row-and-pagination {

            display: flex;
            justify-content: space-between;
            align-items: center;

            .limitId {
                border-radius: 3px;
            }

            .my-pagination {
                display: flex;
                padding: 0px;
                gap: 2px;
                margin: 0px;

                li {
                    list-style: none;
                    width: 30px;
                    height: 30px;
                    border: 0.1px solid #606061;
                    text-align: center;
                    border-radius: 3px;
                    background-color: white;
                    color: black;
                    cursor: pointer;
                }

                .active-page {
                    background-color: rgb(13 110 253);
                    border-color: rgb(13 110 253);
                    color: white;
                }

            }

        }

        .table-container {

            position: relative;
            overflow-y: auto;

            .myTable {
                width: 100%;

                tr {

                    td,
                    th {
                        padding: 4px;
                    }
                }

                tr:nth-child(even) {
                    background-color: #f1f1f1;
                }

                .action-td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }

                .my-table-head , .my-client-table-head {
                    tr th img {
                        width: 13px;
                    }
                }
            }


            .my-table-head  tr th:nth-child(1) {
                width: 10%;
            }

            .my-table-head tr th:nth-child(2) {
                width: 10%;
            }

            .my-table-head tr th:nth-child(3) {
                width: 30%;
            }

            .my-table-head tr th:nth-child(4) {
                width: 20%;
            }

            .my-table-head tr th:nth-child(5) {
                width: 30%;
            }

            .my-table-head tr th:nth-child(6) {
                width: 20%;
            }


            /* client master head  */
            .my-client-table-head  tr th:nth-child(1){
                width: 5%;
            }
            .my-client-table-head  tr th:nth-child(2){
                width: 6%;
            }
            .my-client-table-head  tr th:nth-child(3){
                width: 13%;
            }
            .my-client-table-head  tr th:nth-child(4){
                width: 13%;
            }
            .my-client-table-head  tr th:nth-child(5){
                width: 13%;
            }
            .my-client-table-head  tr th:nth-child(6){
                width: 20%;
            }
            .my-client-table-head  tr th:nth-child(7){
                width: 10%;
            }
            .my-client-table-head  tr th:nth-child(8){
                width: 10%;
            }
            .my-client-table-head  tr th:nth-child(9){
                width: 8%;
            }
            .my-client-table-head  tr th:nth-child(10){
                width: 20%;
            }



            .my-table-body tr th,
            td {
                vertical-align: middle;
            }



        }

    }


}


.add-user-master {

    padding: 20px 0px;

    .Form-submition-success-message {
        position: absolute;
        top: 20px;
        right: 20px;
        display: none;
    }

    #user-master-update-btn{
        display: none;
    }

}


/* **************************** User master page css end ********************************************* */



/* **************************** Item master page css Start ********************************************* */

.user-master-all-users .item-master-search{
    justify-content: normal;
}

.table-container {

    .my-item-table-head  tr th:nth-child(1){
        width: 8%;
    }
    .my-item-table-head  tr th:nth-child(2){
        width: 8%;
    }
    .my-item-table-head  tr th:nth-child(3){
        width: 15%;
    }
    .my-item-table-head  tr th:nth-child(4){
        width: 10%;
    }
    .my-item-table-head  tr th:nth-child(5){
        width: 30%;
    }
    .my-item-table-head  tr th:nth-child(6){
        width: 15%;
    }
    .my-item-table-head  tr th:nth-child(7){
        width: 25%;
    }


}

.my-item-table-body .myImageTd img{

    width: 30px;

}

#addItemFormData #imagePreview{
    width: 98px;
    margin-top: 20px;
}





/* **************************** Item master page css end ********************************************* */



/* **************************** Invoice page css end ********************************************* */

.table-container  {

    .my-invoice-table-head  tr th:nth-child(1){
        width: 4%;
    }
    .my-invoice-table-head  tr th:nth-child(2){
        width: 9%;
    }
    .my-invoice-table-head  tr th:nth-child(3){
        width: 10%;
    }
    .my-invoice-table-head  tr th:nth-child(4){
        width: 11%;
    }
    .my-invoice-table-head  tr th:nth-child(5){
        width: 11%;
    }
    .my-invoice-table-head  tr th:nth-child(6){
        width: 12%;
    }
    .my-invoice-table-head  tr th:nth-child(7){
        width: 12%;
    }
    .my-invoice-table-head  tr th:nth-child(8){
        width: 11%;
    }
    .my-invoice-table-head  tr th:nth-child(9){
        width: 6%;
    }
    .my-invoice-table-head  tr th:nth-child(10){
        width: 5%;
    }
    .my-invoice-table-head  tr th:nth-child(11){
        width: 6%;
    }
    .my-invoice-table-head  tr th:nth-child(12){
        width: 20%;
    }


}

#addInvoiceFormData{


    .client-detail-container , .client-detail-container-item{
        padding: 30px;
        border-radius: 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }


}

.ui-autocomplete {
    z-index: 9999 !important;
}



/* **************************** Invoice page css end ********************************************* */



